.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  margin: 10px;
  overflow: hidden;
}
.menu_logo{
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
}
ul{
  display: flex;
  gap: 30px;
  padding: 0;
}
.glass-bar {
  height: 2.5vh;
  width: calc(100vw - 85px);
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  padding: 1rem 2rem;
}
.menu_try{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  border-radius: 50px;
  background-color: black;
}