.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-image: url("/wallpaper5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.h1 {
  font-size: clamp(7rem, 10vw + 1rem, 9rem);
}
.main_title{
    display: flex;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.sub_title{
    margin-top: -25px;
    width: 35vw;
    height: auto;
}
.tag_line{
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 25px;
}
.color{
    margin-left: 2.5px;
    color: #669BBC;
}
.button_sec{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 70px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 45px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow:2px 5px rgba(0, 0, 0, 0.5);
}

.colorbg{
    background-color: #669BBC;
}