body {
    display: flex;
    margin: 0;
    padding-top: 0;
    overflow-x: hidden;
    background-color: black;
}
section{
    margin-top: 10px;
}


.link,.link:visited{
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: all .3s ease;
}
.link:hover{
    color: #669BBC;
}
.bk:hover{
    background-color: #f0f0f0;
}
.txtbk,.txtbk:visited{
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: color .3s ease;
}